@import 'base/variables';

:host {
  display: flex;
  justify-content: center;
}

.main-layout {
  max-width: 1200px;
  width: 1200px;
}

#modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  &.hidden {
    display: none;
  }
}

#modal-container {
  display: flex;
  position: fixed;
  background-color: $color-white;
}
