@mixin flex-container($direction: row, $align: center, $justify: flex-start) {
  display: flex;
  @if ($direction) {
    flex-direction: $direction;
  }
  @if ($align) {
    align-items: $align;
  }
  @if ($justify) {
    justify-content: $justify;
  }
}
